<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h2 style="text-align:center;">
    PATIENT AUTHORIZATION FORM FOR FULL DISCLOSURE OF HEALTH INFORMATION FOR TREATMENT & QUALITY OF CARE
  </h2>
  <br>
  <h3 style="text-align:center; border: 1px solid">
    ***PLEASE READ THE ENTIRE FORM, BOTH PAGES, BEFORE SIGNING BELOW***
  </h3>
  <br>
  <b>Patient (name and information of person whose health information is being disclosed):</b>
  <p>
    Name (First Middle Last): <b><%= "#{@user.name} #{@user.last_name}" %></b>
    <br><br>
    Date of Birth (mm/dd/yyyy): <b><%= "#{@user.birth_date.strftime("%m/%d/%Y")}" %></b>
    <br><br>
    Cell Phone Number: <b><%= "#{@user.phone}" %></b>
    <br><br>
    Address: <b><%= "#{@address.street}" %></b>
  </p>

  <p>
    <b><u>“From Whom” includes:</u></b> All information sources including but not limited to medical
    and clinical sources (hospitals, clinics, labs, pharmacies, physicians, psychologists, etc.) including
    mental health, correctional, addiction treatment, Veterans Affairs health care facilities, state
    registries and other state programs, all educational sources that may have some of my health information
    (schools, records administrators, counselors, etc.), social workers, rehabilitation counselors, insurance
    companies, health plans, health  maintenance organizations, employers, pharmacy benefit managers, worker’s
    compensation programs, state Medicaid, Medicare and any other governmental program.
  </p>

  <p>
    <b><u>“To Whom”:</u></b> EMERGE MEDICAL LLC. For those health care providers listed in the “TO WHOM” section,
    your permission would also include physicians, other health care providers (such as nurses) and medical staff
    who are involved in your medical care at that organization’s facility or that person’s office, and health care
    providers who are covering or on call for the specified person or organization, and staff members or agents (such
    as business associates or qualified services organizations) who carry out activities and purpose(s) permitted by
    this form for that organization or person that you specified. Disclosure may be of health information in paper or
    oral form or may be through electronic interchange. Health insurance companies, drug companies, medical device
    companies, legal representatives (if included above) are also included as intended recipients. Other recipients
    may be added subject to your explicit consent.
  </p>

  <p>
    <b><u>“Withdrawal”:</u></b> You have the right to revoke this authorization and withdraw your permission
    at any time regarding any future uses. You should understand that organizations that had your
    permission to access your health information may copy or include your information in their own records.
    These organizations, in many circumstances, are not required to return any information that they were
    provided nor are they required to remove it from their own records.
  </p>

  <p>
    <b><u>“Re-disclosure of Information”:</u></b> Any health information about you may
    be re-disclosed to others only to the extent permitted by state and federal
    laws and regulations. You understand that once your information is disclosed, it may be subject
    to lawful re-disclosure, in accordance with applicable state and federal law, and in some cases,
    may no longer be protected by federal privacy law.
  </p>

  <p>
    <b><u>Limitations of this Form:</u></b> This form does not obligate your health care provider
    or other person/organization listed in the “From Whom” or “To Whom” section to seek
    out the information you specified in the “Of What” section from other sources. Also, this form does
    not change current obligations and rules about who pays for copies of records.
  </p>

  <p>
    <b><u>Note to recipient(s) of the information disclosed under this permission:</u></b>
    This information may have been disclosed to you from records protected by state and/or
    federal confidentiality rules (42 CFR Part 2 or 38 CFR Part 1). If so, the state and/or federal rules prohibit
    you from making any further disclosure of this information unless further disclosure is expressly permitted by
    the written consent of the person to whom it pertains or as otherwise permitted by state law and/or 42 CFR Part 2
    (e.g., certain medical emergencies) or 38 CFR Part 1. A general authorization for the release of medical or other
    information is NOT sufficient for this purpose. The federal rules restrict any use of the information to criminally
    investigate or prosecute any alcohol or drug abuse patient or patient with sickle cell anemia or HIV infection.
  </p>

  <p>
    This general and special authorization to disclose was developed to comply with the provisions regarding
    disclosure of medical, educational, and other information under 45 CFR Parts 160 and 164 (“HIPAA”);
    Health Information Technology for Economic and Clinical Health (HITECH) Act, Title XIII of Division A and
    Title IV of Division B of the American Recovery and Reinvestment Act of 2009 (ARRA), Pub. L. No. 111-5 (Feb. 17, 2009)
    §13405 (“HITECH Act”); 42 U.S. Code §290dd-2; 42 CFR Part 2; 38 U.S. Code section 7332;
    38 CFR 1.475 (Veterans Affairs); 20 U.S. Code §1232g (“FERPA”); 34 CFR parts 99 and 300;
    Florida Statute 408.051(4) (“Universal Patient Authorization Form”); and all other Florida Statutes,
    the Florida Constitution, Florida regulations or administrative rules requiring patient authorization,
    consent or permission to release such records (including but not limited to Florida Statutes §456.057(7)(a),
    §395.3025(4), §394.4615(2)(a), §381.004, §397.501(7), §760.40(2), §392.65(1), §384.29(1), and §385.202(3)).
  </p>
  </body>
</html>