<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @user.name %>,</h2>
    <p>
      Please click on the following link to change your password:
      <br><br>
      <a href="https://emr-database.herokuapp.com/#/request?request_token=<%= @token %>">change your password</a>
      <br><br>
      Best regards,
    </p>
    <h2>EMeRge team</h2>
  </body>
</html>